@import url('variables.css');
@import url('blocks/header.css');
@import url('blocks/btns.css');
@import url('blocks/main.css');


html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


.container {
    width: 1296px;
    margin: 0 auto;
}
a:any-link {
    text-decoration: none;

}
button {
    border-style: none;
    cursor: pointer;
}

li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}