:root{
    --dark-main-color: rgb(15, 130, 119);
    --light-main-color: rgb(238, 238, 238);
    --bg-color: rgb(219, 243, 237);
    --main-font: Quicksand;
    --placeholder-color: rgb(92, 92, 92);



}