.btn {
    padding: 10px 12px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.btn-dark {
    background-color: var(--dark-main-color);
    color: var(--light-main-color);
}

.btn-transgreen {
    background-color: none;
    color: var(--dark-main-color);
    outline: var(--dark-main-color) solid 2px;
    outline-offset: -2px;
}


.btn-dropdown {
    position: relative;
    width: 98px;
    padding-right: 28px;
}
.btn-dropdown::after {
    content: '';
    position: absolute;
    right:  10px;
    top: 15px;
    border-right: 3px solid var(--light-main-color);
    border-bottom: 3px solid var(--light-main-color);
    border-radius: 2px;
    transform: rotate(45deg);;
    height: 6px;
    width: 6px;

}

