.header,
div[class^=nav-menu],
.nav-menu__search-form {
    display: flex;
    align-items: center;

}

.logo,  
.nav-menu__links a {
    color: black;
}

.header {
    font-family: var(--main-font);
    padding: 30px 0;
    gap: 44px;
    font-size: 16px;
    font-weight: 500;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}


.nav-menu {
    justify-content: space-between;
    width: 1110px;
    justify-content: space-between;

}

.nav-menu__dropdown {
    position: relative;
}

.dropdown_content {
    display: none;
    position: absolute;
    width: 384px;
    top: 42px;
    left: -2px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 16px 12px 33px 12px;
    z-index: 3;
    background-color: white;
}
.dropdown__top {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}
.dropdown_content li:not(:first-child) {
    margin-top: 16px;
}

.dropdown__link {
    display: block;
    width: 100%;
    color: black;
}
.list-title {
    font-weight: 700;
    margin: 40px 0 24px 0;
}

.nav-menu__dropdown:hover .dropdown_content {
    display: block;
}

.nav-menu__btns {
    gap: 50px;
}

.search-field {
    border: 1px solid rgb(92, 92, 92);
    border-radius: 4px 0 0 4px;
    height: 36px;
    border-right: none;
    width: 295px;
    padding-left: 12px;
}

.search-icon {
    width: 36px;
    height: 36px;
    background: url('../../icons/search.svg') no-repeat center / 40%;
    background-color: var(--dark-main-color) ;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.nav-menu__links {
    gap: 48px;
}

.nav-menu__auth {
    gap: 16px;

}
.nav-menu__signup {
    color: var(--light-main-color);
}

.nav-menu__login {
    color: var(--dark-main-color);
}