.banner {
    height: 602px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    background: url(../../img/banner_bg.png) no-repeat 716px 40px,
        var(--bg-color);
    padding: 170px 0 0 110px;
}

h1 {
    font-size: 56px;
    font-weight: 700;   
}

h2 {
    width: 482px;
    font-size: 22px;
    font-weight: 600;
}

.banner-btns {
    margin-top: 32px;
    display: flex;
    gap: 24px
}